In [44]:
import pandas as pd

In [45]:
df = pd.read_csv("sales.csv")
df.head()

         Date Product     Category  Price  Quantity  Revenue Region
0  2025-01-05  Laptop  Electronics  50000         1    50000  North
1  2025-01-18   Phone  Electronics  30000         2    60000  South
2  2025-02-10  Laptop  Electronics  50000         1    50000  North
3  2025-02-24   Phone  Electronics  30000         3    90000   West
4  2025-03-01  Laptop  Electronics  50000         1    50000   East

In [46]:
print(df.dtypes)
df['Date'] = pd.to_datetime(df["Date"])
print(df.isnull().sum())

Date        object
Product     object
Category    object
Price        int64
Quantity     int64
Revenue      int64
Region      object
dtype: object
Date        0
Product     0
Category    0
Price       0
Quantity    0
Revenue     0
Region      0
dtype: int64

In [47]:
df["Revenue"] = df["Revenue"].fillna(0)
df.head()

        Date Product     Category  Price  Quantity  Revenue Region
0 2025-01-05  Laptop  Electronics  50000         1    50000  North
1 2025-01-18   Phone  Electronics  30000         2    60000  South
2 2025-02-10  Laptop  Electronics  50000         1    50000  North
3 2025-02-24   Phone  Electronics  30000         3    90000   West
4 2025-03-01  Laptop  Electronics  50000         1    50000   East

In [48]:
print("Total Revenue:", df["Revenue"].sum()) #total revenue
print("Unique Products:", df["Product"].nunique()) #unique products
print(df.groupby("Region")["Revenue"].sum()) #Sales by region

df['Month'] = df["Date"].dt.to_period("M")
print(df.groupby("Month")["Revenue"].sum())
df.head()

Total Revenue: 300000
Unique Products: 2
Region
East      50000
North    100000
South     60000
West      90000
Name: Revenue, dtype: int64
Month
2025-01    110000
2025-02    140000
2025-03     50000
Freq: M, Name: Revenue, dtype: int64

        Date Product     Category  Price  Quantity  Revenue Region    Month
0 2025-01-05  Laptop  Electronics  50000         1    50000  North  2025-01
1 2025-01-18   Phone  Electronics  30000         2    60000  South  2025-01
2 2025-02-10  Laptop  Electronics  50000         1    50000  North  2025-02
3 2025-02-24   Phone  Electronics  30000         3    90000   West  2025-02
4 2025-03-01  Laptop  Electronics  50000         1    50000   East  2025-03

In [50]:
df.to_csv("sales_cleaned.csv", index=False)

In [51]:
def top_products_by_revenue(df, top_n=3):
    product_rev = df.groupby("Product")["Revenue"].sum().reset_index()
    sorted_rev = product_rev.sort_values(by="Revenue", ascending=False)
    return sorted_rev.head(top_n)

In [52]:
def monthly_sales_summary(df):
    df["Month"] = pd.to_datetime(df["Date"]).dt.to_period("M")
    summary = df.groupby("Month").agg({
        "Revenue": "sum",
        "Quantity": "sum",
    }).reset_index()
    return summary

In [53]:
def region_wise_kpi_report(df):
    kpi = df.groupby("Region").agg({
        "Revenue": "sum",
        "Quantity": "sum",
        "Product": "nunique"
    }).reset_index()
    kpi.rename(columns={
        "Revenue": "TotalRevenue",
        "Quantity": "TotalQuantity",
    },inplace=True)
    return kpi

In [54]:
print(top_products_by_revenue(df))

  Product  Revenue
0  Laptop   150000
1   Phone   150000

In [55]:
print(monthly_sales_summary(df))

     Month  Revenue  Quantity
0  2025-01   110000         3
1  2025-02   140000         4
2  2025-03    50000         1

In [56]:
print(region_wise_kpi_report(df))

  Region  TotalRevenue  TotalQuantity  Product
0   East         50000              1        1
1  North        100000              2        1
2  South         60000              2        1
3   West         90000              3        1